<h1><%= t('.header') %></h1>
 
<%= link_to t('.newArticle'), new_article_path %>
<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.text') %></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.author_name %></td>
      <td><%= article.state %></td>
      <td><%= link_to t('.show'), article_path(article) %></td>
      <td><%= link_to t('.edit'), edit_article_path(article) %></td>
      <td><%= link_to t('.destroy'), article_path(article),
              method: :delete,
              data: { confirm: t('.confirm') } %></td>
    </tr>
  <% end %>
</table>